/* Header Styles */
.header {
    background-color: var(--headerColor); /* Amber-50 */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .header-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-logo {
    font-family: 'serif';
    font-size: 24px;
    font-weight: bold;
    color: #9c661f; /* Amber-800 */
    text-decoration: none;
  }
  
  .header-nav {
    display: none;
    gap: 16px;
  }
  
  .header-link {
    font-size: 16px;
    color: var(--textHeader-color);
    /* Amber-800 */
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .header-link:hover {
    color: #c27c2c; /* Amber-600 */
  }
  
  .header-icons {
    display: flex;
    align-items: center;
    gap: 12px;
    color: var(--textHeader-color);
 
  }
  
  .order-button {
    background-color: var(--button-color);; /* Amber-600 */
    color: white;
    padding: 8px 16px;
    border-radius: 9999px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    display: none;
    transition: background-color 0.3s;
  }
  
  .order-button:hover {
    background-color: #9c661f; /* Amber-700 */
  }
  
  .header-icon {
    font-size: 24px;
    color: var(--text-color); /* Amber-800 */
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .header-icon:hover {
    color: #c27c2c; /* Amber-600 */
  }
  
  /* Responsive Design */
  @media (min-width: 768px) {
    .header-nav {
      display: flex;
    }
  
    .order-button {
      display: inline-block;
    }
  
    .mobile-menu {
      display: none;
    }
  }
  