:root {
    --button-color: #F4952C;
    --primary-color-dark: #000;
    --contentButton-color: #fff;
    --textButton-color: #000;
    --tran-03: all 0.3s ease;
}

body.dark {
    --button-color: #242526;
    --primary-color-dark: #000;
    --contentButton-color: #000;
    --textButton-color: #fff;
}

/* Estilos del botón */
.theme-switcher {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    display: flex;
    align-items: center;
    /* gap: 10px; */
    cursor: pointer;
    background-color: var(--button-color);
    border-radius: 30px;
    padding: 5px 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: var(--tran-03);
}

/* Animación de los iconos */
.theme-switcher .icon-container {
    display: flex;
    position: relative;
}

.theme-switcher .icon {
    font-size: 20px;
    color: var(--contentButton-color);
    opacity: 0;
    transition: var(--tran-03);
    position: absolute;
}

.theme-switcher .moon {
    opacity: 1;
}

body.dark .theme-switcher .moon {
    opacity: 0;
}

body.dark .theme-switcher .sun {
    opacity: 1;
}

/* Estilo del interruptor */
.switch-toggle {
    position: relative;
    width: 35px;
    height: 15px;
    background-color: var(--primary-color-dark);
    border-radius: 999px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
    transition: var(--tran-03);
}

.switch-toggle .switch {
    width: 15px;
    height: 15px;
    background-color: var(--contentButton-color);
    border-radius: 50%;
    transition: var(--tran-03);
    transform: translateX(0);
}

body.dark .switch-toggle {
    background-color: var(--textButton-color);
    justify-content: flex-end;
}

body.dark .switch {
    transform: translateX(-5px);
}
