@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Titillium+Web:wght@200;300;400;600;700&display=swap');
*{
    margin: 0;
    padding:0;
    font-family: 'Open Sans';
}

:root {
    --textButtonCart: #fff;
    --button-color: #F4952C;
    --contentButtonCart: #000;
    --body: #fff;
    --contentCart: #fff;
    --textHeader-color: #fff;
    --headerColor: #000;
    --panelCarrito-color: #000;
    --tran-03: all 0.3s ease;
    --darkButton: #292929;
    
}

body.dark {
    --textButtonCart: #000;
    --button-color: #242526;
    --contentButtonCart: #fff;
    --body: #000;
    --contentCart: #efefef;
    --textHeader-color: #000;
    --headerColor: #F8F8F8;
    --primary-color-dark: #000;  
    
    
}

.body{
    background-color: var(--body);
    color: var(--primary-color-dark);
    
}  

.contenedor{
    max-width: 900px;
    padding: 10px;
    margin: auto;
    display: flex;
    
    justify-content: space-between;
    /* oculto lo que queda fuera del .contenedor */
    contain: paint;
}
/* SECCION CONTENEDOR DE ITEMS */
.contenedor .contenedor-items{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap:30px;
    grid-row-gap: 30px;
    /* width: 60%; */
    width: 100%;
    transition: .3s;
}
.item{
    background-color: var(--contentCart);
}
.contenedor .contenedor-items .item{
    max-width: 200px;
    margin: auto;
    border: 1px solid #666;
    border-radius: 10px;
    padding: 20px;
    transition: .3s;
}
.contenedor .contenedor-items .item .img-item{
    width: 100%;
}
.img-item{
    cursor: pointer;
}
.contenedor .contenedor-items .item:hover{
    box-shadow: 0 0 10px #666;
    scale: 1.05;
}
.contenedor .contenedor-items .item .titulo-item{
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.contenedor .contenedor-items .item .precio-item{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

.contenedor .contenedor-items .item .boton-item{
    display: block;
    margin: 10px auto;
    border: none;
    background-color: var(--contentButtonCart);
    color: var(--textButtonCart);
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}
/* seccion carrito */
.carrito{
    border: 1px solid #666;
    width: 35%;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: auto;
    position: fixed;
    top: 0;
    right: -400px; /* Ajusta este valor según el ancho del carrito */
    width: 400px; /* Ajusta este valor según el ancho del carrito */
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    background-color: white;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
    transition: right 0.3s ease, opacity 0.3s ease;
    opacity: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column; /* Asegura que el contenido esté en columna */
}

.carrito.visible {
    right: 0;
    opacity: 1;
    display: block;
}

.carrito .header-carrito{
    background-color: var(--panelCarrito-color);
    color: #fff;
    text-align: center;
    padding: 30px 0;
}
.carrito-items {
    flex: 1; /* Toma el espacio disponible */
    max-height: calc(100vh - 250px); /* Ajusta la altura máxima según el espacio disponible */
    overflow-y: auto; /* Agrega la barra de desplazamiento vertical */
    padding: 10px; /* Agrega algo de espacio interno */
}
.carrito .carrito-item{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    position: relative;
    border-bottom: 1px solid #666;
    padding: 20px;
}
.carrito .carrito-item img{
    margin-right: 20px;
}
.carrito .carrito-item .carrito-item-titulo{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.carrito .carrito-item .selector-cantidad{
    display: inline-block;
    margin-right: 25px;
}
.carrito .carrito-item .carrito-item-cantidad{
    border: none;
    font-size: 18px;
    background-color: transparent;
    display: inline-block;
    width:30px;
    padding: 5px;
    text-align: center;
}
.carrito .carrito-item .selector-cantidad i{
    font-size: 18px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
}
.carrito .carrito-item .carrito-item-precio{
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5px;
}
.carrito .carrito-item .btn-eliminar{
    position: absolute;
    right: 15px;
    top: 15px;
    color: #000;
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
    display: block;
    background: transparent;
    z-index: 20;
}
.carrito .carrito-item .btn-eliminar i{
    pointer-events: none;
}

.carrito-total{
   
    background-color: #f3f3f3;
    padding: 20px;
    /*border-top: 1px solid #666;  Separador del total */

}
.carrito-total .fila{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}
.carrito-total .btn-pagar{
    display: block;
    width: 100%;
    border: none;
    background: var(--button-color);
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}
.carrito-total .btn-pagar:hover{
    scale: 1.05;
}

/* Contenedor del carrito de compras */
.shopping-cart {
  position: fixed; /* Posición fija en la pantalla */
  right: 4px; /* Margen derecho */
  top: 50%; /* Centrado vertical */
  transform: translateY(-50%); /* Ajuste para centrar */
  z-index: 50; /* Asegura que esté por encima de otros elementos */
}

/* Botón del carrito */
.cart-btn {
  background-color: var(--button-color); /* Color verde del botón */
  color: white; /* Color del texto */
  padding: 12px 20px; /* Espaciado interno */
  border-radius: 8px; /* Bordes redondeados */
  display: flex; /* Flex para organizar elementos en columna */
  flex-direction: column; /* Coloca elementos en columna */
  align-items: center; /* Centrado horizontal */
  cursor: pointer; /* Cursor de puntero para indicar interactividad */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra suave */
  border: none; /* Sin borde */
  transition: background-color 0.3s; /* Transición suave para el color de fondo */
}

/* Efecto hover para el botón */
.cart-btn:hover {
  background-color: var(--darkButton); /* Color más oscuro al pasar el mouse */
}

/* Estilo del ícono del carrito */
.cart-icon {
  display: flex; /* Flex para alinear el icono y el texto */
  align-items: center; /* Centrado vertical */
  margin-bottom: 4px; /* Espacio inferior entre el icono y el precio */
}

/* Tamaño del ícono */
.cart-icon i {
  font-size: 24px; /* Tamaño del icono */
}

/* Detalles del carrito */
.cart-details {
  display: flex; /* Flex para el texto */
  flex-direction: column; /* Coloca elementos en columna */
  align-items: center; /* Centrado horizontal */
  width: 100%; /* Asegura que ocupe todo el ancho disponible */
}

/* Cantidad de artículos en el carrito */
.item-count {
  font-weight: 500; /* Peso de fuente medio */
  font-size: 14px; /* Tamaño de texto más pequeño */
  padding: 10px;
}

/* Precio total */
.total-price {
  font-weight: bold; /* Peso de fuente en negrita */
  font-size: 16px; /* Tamaño del texto */
  background-color: white; /* Fondo blanco para contraste */
  color: #000; /* Color verde para armonía */
  padding: 4px 8px; /* Espaciado interno */
  border-radius: 4px; /* Bordes redondeados */
  margin-top: 4px; /* Espacio superior */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* Sombra leve */
  width: 100%; /* Ocupa el ancho completo del contenedor */
  text-align: center; /* Centra el texto */
}

/* SECCION RESPONSIVE */
@media screen and (max-width: 850px) {
    .contenedor {
      display: block;
    }
    .contenedor-items{
        width: 100% !important;
    }
    .carrito{
        width: 100%;
    }
  }

.contenedor-items {
    width: 100%;
    transition: width 0.3s ease;
}

.hidden {
    display: none;
}

#cerrar-carrito {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }

/* Pop up - Ventana flotante */ 
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    max-width: 800px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none;
    flex-direction: row;
  }
  #popup-title{
    padding: 40px 0px 0px 0px;
  }
  
  .popup.hidden {
    display: none;
  }
  
#product-popup{
    border-radius: 10px;
}  

  .popup-content {
    display: flex;
    padding: 20px;
    gap: 20px;
  }
  
  .popup-left img {
    width: 400px;
    height: auto;
  }
  
  .popup-right {
    flex: 1;
  }
  
  .font-slider {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
    color:#666
  }
  
  .close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
  } 
/* Botones de cambio de fuente con íconos */
.font-slider {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 10px;
  margin: 10px 0;
}

.font-button {
  background-color: var(--button-color);
  color: white;
  border: none;
  border-radius: 50%;
  /* padding: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: var(--tran-03);
}

.font-button i {
  font-size: 18px;
}

.font-button:hover {
  background-color: var(--darkButton);
  transform: scale(1.1);
}

/* Contenedor para la descripción con altura fija */
#popup-description {
    height: 150px;  /* Ajusta esta altura según tus necesidades */
    overflow: auto;  /* Asegura que el texto largo se pueda desplazar */
    margin-bottom: 20px;  /* Espacio entre la descripción y el botón */
}

/* Contenedor para el botón "Agregar al Carrito" */
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  min-height: 50px;  /* Ajusta según el tamaño del botón */
}

.boton-item {
  background-color: var(--button-color);
  color: var(--contentCart);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: var(--tran-03);
}

.boton-item:hover {
  background-color: var(--darkButton);
  transform: scale(1.05);
}

/* Asegura que el botón se mantenga fijo estéticamente */
.button-container {
  position: relative;
  width: 100%;
  text-align: center;
}
